@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Comfortaa', sans-serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #ffcf42;
  overflow: hidden;
}

.inf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1, h2, p {
  text-align: center;
  align-items: center;
}

#resultCont {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  color: black;
  background-color: #fff;
  height: auto;
  width: auto;
  border-radius: 5px;
  padding: 25px 0px;
  margin: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#resultCont:hover {
  color: white;
  background-color: #ffcf42;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border: 1px;
}

.cont {
  max-width: 400px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 25px;
}

.cont > div {
  margin: 15px 25px;
  font-size: 15px;
  max-width: 300px;
}
